:root {
  --transition: 350ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

:root {
  --accentColor: #23c69e;
  --accentColorLight: #e3fef7;
  --accentColorDark: color-mix(in oklch, transparent, #10a37f 15%);
  --accentColorText: white;

  // Background colors
  --backgroundColor: white;
  --foregroundColor: #eeeeee;
  --frontColor: color-mix(in oklch, transparent, #8a8a8a 11%);
  --highlightColor: #efefef;
  --highlightEmphasisColor: transparent;
  --primaryColor: var(--accentColorLight);

  // Text colors
  --colorText: #1e1f22;
  --colorMuted: #6d717c;
  --colorPlaceholder: #575b65;

  // Misc colors
  --colorToolbar: var(--backgroundColor);
  --colorToolbarStroke: var(--highlightColor);
  --colorStroke: #eaeaea;
  --colorShadow: rgba(135, 135, 135, 0.4);
  --colorTracer: var(--backgroundColor);
  --colorInput: color-mix(in oklch, transparent, #d6d6d6 25%);
  --colorPrimaryIcon: var(--colorText);
  --colorNav: #f9f9f9;
  --colorThemeSwitcher: white;

  --brightnessHover: 1.1;

  [data-theme="inner"] {
    --backgroundColor: #f5f5f5;
    --foregroundColor: white;
    --highlightColor: #d8efe9;
    --highlightEmphasisColor: #b0d7cd;

    --colorMuted: #1e1f22;
    --colorPlaceholder: #a0a7bb;

    --colorStroke: #b7b7b7;
    --colorInput: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accentColor: #23c69e;
    --accentColorLight: #e3fef7;
    --accentColorDark: color-mix(in oklch, transparent, #10a37f 15%);
    --accentColorText: white;

    // Background colors
    --backgroundColor: #282a2e;
    --foregroundColor: #3f424a;
    --frontColor: #57585f;
    --highlightColor: #1e1f22;
    --highlightEmphasisColor: transparent;
    --primaryColor: var(--highlightColor);

    // Text colors
    --colorText: white;
    --colorMuted: #ababab;
    --colorPlaceholder: #575b65;

    // Misc colors
    --colorToolbar: var(--highlightColor);
    --colorToolbarStroke: #2d2e30;
    --colorStroke: transparent;
    --colorShadow: rgba(30, 31, 34, 0.4);
    --colorTracer: var(--highlightColor);
    --colorInput: color-mix(in oklch, transparent, var(--foregroundColor) 15%);
    --colorPrimaryIcon: var(--accentColor);
    --colorNav: color-mix(in oklch, transparent, #d9d9d9 8%);
    --colorThemeSwitcher: #64666d;

    --brightnessHover: 0.9;

    [data-theme="inner"] {
      --backgroundColor: #3f424a;
      --foregroundColor: #4b4f5b;
      --highlightColor: #28303f;
      --highlightEmphasisColor: #202633;

      --colorMuted: #ababab;
      --colorPlaceholder: #a0a7bb;

      --colorStroke: #4b4f5b;
      --colorInput: var(--foregroundColor);
    }
  }
}
