@import "@/sass/placeholders/page";

.toolbar {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  border-right: 1px solid var(--colorStroke);
  background-color: var(--colorToolbar);
  padding-bottom: 1em;

  &__header {
    @extend %page__header;
  }
}
