.data {
  $blockSelector: &;

  display: flex;
  gap: 0.5em;
  flex: 1;

  &__item {
    padding: 0.25em 0.5em;
    display: flex;
    gap: 0.25em;
    border-radius: 0.5em;
    background-color: color-mix(in oklch, transparent, currentColor 5%);
    color: var(--colorText);

    #{$blockSelector}--assistant &,
    #{$blockSelector}--error & {
      background-color: color-mix(
        in oklch,
        transparent,
        var(--foregroundColor) 30%
      );
    }
  }

  &__label,
  &__value {
    font-size: 0.75em;
  }
}
