:root {
  // Colors
  --colorBackground: 0 0% 98%;
  --colorMuted: 240 4.8% 95.9%;
  --colorText: 240 10% 3.9%;
  --colorText--muted: var(--colorText) / 0.6;
  --colorBorder: var(--colorText) / 0.1;
  --colorShadow: rgba(black, 0.05);

  // Typographies
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  // Transitions
  --transitionDuration: 150ms;
  --transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
  --transition: var(--transitionDuration) var(--transitionTimingFunction);

  // Misc
  --borderRadius: 0.5em;
  --shadow: 0 1px 2px 0 var(--colorShadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    // Backgrounds
    --colorBackground: 240 10% 3.9%;

    // Texts
    --colorText: 0 0% 98%;
  }
}
