.prompt {
  position: relative;
  width: 100%;
  display: flex;
  gap: 1em;

  &__input {
    width: 100%;
    background-color: var(--foregroundColor);
    color: var(--colorText);
    border: none;
    box-shadow: none;
    border-radius: 0.5em;
    height: 3.5em;
    padding: 1.25em 3.5em;
    padding-left: 1.25em;

    &::placeholder {
      opacity: 1;
      color: var(--colorPlaceholder);
    }
  }

  &__mic {
    width: 3.5em;
    flex-shrink: 0;
    background-color: var(--foregroundColor);
    color: var(--colorMuted);
  }
}
