.prompt {
  width: 100%;
  display: flex;
  gap: 1em;

  &__inner {
    position: relative;
    flex: 1;
  }

  &__input {
    font: inherit;
    width: 100%;
    background-color: var(--colorInput);
    color: var(--colorText);
    border: none;
    box-shadow: none;
    border-radius: 0.5em;
    height: 3.5em;
    padding: 1.25em 3.5em;
    padding-left: 1.25em;

    &::placeholder {
      opacity: 1;
      color: var(--colorPlaceholder);
    }
  }

  &__button {
    width: 3.5em;
    flex-shrink: 0;
    background-color: var(--colorInput);
    color: var(--colorPlaceholder);
  }

  &__send {
    position: absolute;
    bottom: 0.5em;
    right: 0.75em;
    background-color: transparent;
    color: var(--colorPlaceholder);
  }
}
