.prompt {
  $blockSelector: &;

  position: relative;

  &__input {
    padding-bottom: 3rem;
  }

  &__footer {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cell {
    display: flex;
    gap: 0.5em;
  }

  &__button,
  &__submit {
    font-size: 0.625em;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__button {
    background-color: transparent;
    border: 1px solid
      color-mix(in oklch, transparent, var(--colorPlaceholder) 20%);
  }

  &__submit {
    &:disabled {
      background-color: transparent;
      color: var(--colorPlaceholder);
      border: 1px solid
        color-mix(in oklch, transparent, var(--colorPlaceholder) 20%);
    }
  }
}
