.badge {
  padding: 0 0.25em;
  background-color: var(--frontColor);
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;

  &--highlight {
    background-color: var(--accentColorDark);
    color: var(--accentColor);
  }

  &__inner {
    font-size: 0.625em;
    font-weight: bold;
  }
}
