.prompt-enhancer {
  $blockSelector: &;

  font: inherit;
  border: none;
  border-radius: 0.5em;
  box-shadow: none;
  cursor: pointer;
  appearance: button;
  display: inline-flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
  color: var(--colorText);
  min-width: 2em;
  height: 2em;
  padding: 0.25em 0.25em;

  &:hover:not([disabled]) {
    filter: none;
    background-color: var(--colorText);
    color: var(--backgroundColor);
  }

  &__dropdown {
    background-color: var(--backgroundColor);
    border-radius: 0.5em;
    box-shadow: 0 0 1em -0.5em var(--colorShadow);
    padding: 0.25em;
    max-height: 20dvh;
    overflow: auto;
  }

  &__currentModel {
    display: none;
    font-size: 0.75em;

    #{$blockSelector}:hover & {
      display: block;
      padding-right: 0.25em;
    }
  }

  &__item {
    padding: 0.25em 0.5em;
    cursor: pointer;
    border-radius: 0.25em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;

    &:focus:not(&--active):not([aria-disabled]),
    &:hover:not(&--active):not([aria-disabled]) {
      background-color: var(--foregroundColor);
      outline: none;
      border-radius: 0.25em;
    }

    &--active {
      background-color: var(--accentColor);
      color: var(--accentColorText);
    }
  }

  &__label {
    flex: 1;
  }

  &__icon {
    transform: translate3d(50%, 0, 0);
    color: var(--placeholderColor);
  }

  &__toggle {
    &--active {
      color: var(--accentColor);
    }
  }

  &__size {
    font-size: 0.625em;
    color: var(--colorMuted);

    #{$blockSelector}__item--active & {
      color: var(--accentColorText);
    }
  }

  &__separator {
    height: 1px;
    margin: 0.5em 0;
    width: 100%;
    background-color: var(--foregroundColor);
  }
}
