.channel-list {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  &__separator {
    margin: 0.5em auto;
    width: calc(100% - 1em);
    border-width: 0;
    border-bottom-width: 1px;
    border-color: var(--colorToolbarStroke);
  }

  &__newChat {
    color: var(--colorMuted);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
      background-color: var(--colorInput);
    }
  }

  &__newChatText {
    font-size: 0.875em;
  }
}
