.separator {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
  text-align: center;
  color: var(--colorMuted);
  font-size: 0.625em;
  width: 100%;

  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: var(--foregroundColor);
    flex: 1;
  }
}
