.prompt-template {
  &__select {
    margin-bottom: 1em;
  }

  &__footer {
    display: flex;
    gap: 1em;
  }

  &__button {
    flex: 1;
    padding: 1em;
  }

  &__control {
    width: 100%;
    background-color: var(--colorInput);
    color: var(--colorText);
    border: none;
    box-shadow: none;
    border-radius: 0.5rem;
    padding: 0.75rem 0.625rem;
    font-size: 0.875em;
    border: 1px dashed transparent;
    text-align: initial;

    &--focus {
      border-color: color-mix(in oklch, transparent, currentColor 30%);
    }
  }

  &__placeholder {
    color: var(--colorMuted);
  }

  &__list {
    background-color: var(--backgroundColor);
    border-radius: 0.5em;
    box-shadow: 0 0 var(--colorShadow);
    border: 1px solid var(--colorStroke);
    padding: 0.25em;
  }

  &__option {
    font-size: 0.875em;
    padding: 0.375rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: initial;

    &--focus {
      background-color: var(--foregroundColor);
    }
  }

  &__indicator {
    color: var(--colorPlaceholder);
  }
}
