.folder {
  $blockSelector: &;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;

  &:hover {
    background-color: var(--colorInput);
  }

  &--isRenaming {
    padding: 0;
  }

  &__icon {
    flex-shrink: 0;

    #{$blockSelector}--isRenaming & {
      position: absolute;
      top: 50%;
      left: 0.5em;
      transform: translate3d(0, -50%, 0);
    }
  }

  &__name {
    font-size: 0.875em;
    font-weight: bold;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding-left: 1em;
  }

  &__action {
    position: absolute;
    bottom: 0.625em;
    right: 0.5em;
    opacity: 0;
    pointer-events: none;

    #{$blockSelector}:hover:not(#{$blockSelector}--isRenaming) & {
      opacity: 1;
      display: flex;
      gap: 0.25em;
      pointer-events: initial;
    }
  }

  &__button {
    font-size: 0.75em;

    &--delete {
      background-color: var(--dangerColor);
      color: var(--dangerColorText);
    }
  }

  &__input {
    font-size: 0.875em;
    font-weight: bold;
    width: 100%;
    background: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.594rem 0.5rem;
    padding-left: 2.25rem;
    color: var(--colorText);
  }
}
